.home-card {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.home-card p {
    margin-bottom: 15px;
}

.home-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  min-height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.24);
}

.home-image:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(103%);
}