.adding-form {
    padding-top: 15px;
    background-color: white;
    text-align: center;
    width: 500px;
    height: 380px;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

.titles {
    margin: 0px;
    margin-bottom: 5px;
}

.exercise-inputs {
    width: 250px;
    margin-bottom: 15px;
    height: 22px;
}

#exercise-submit {
    background-color: green;
    color: white;
    font-size: 20px;
    margin-top: 22px;
    width: 260px;
    height: 50px;
    border: none;
}

